<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Ionic Firebase TODO
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>

  <input type="text" [(ngModel)]="newTask.name">

  <ion-button (click)="addTask(newTask)"><ion-icon name="add"></ion-icon></ion-button>

  <ion-list>

    <ion-item *ngFor="let task of tasks | async">
      <input type="text" [(ngModel)]="task.name">
      <ion-button item-left (click)="removeTask(task.key)"><ion-icon name="remove"></ion-icon></ion-button>
      <ion-button item-left (click)="updateTask(task.key, task.name)"><ion-icon name="brush"></ion-icon></ion-button>
    </ion-item>

  </ion-list>

</ion-content>